<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 18vw; height:80vh">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <div class="sidebar-brand-icon"><i class="bi bi-cone-striped"></i> </div>
        <span class="m-2 fs-4">Administration</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto justify-content-center">
        <li class="nav-item">
            <a href="index.php" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><i class="bi bi-house-door"></i></svg> - Accueil
            </a>
        </li>
        <li>
            <a href="/index.php?page=admin-produit" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><i class="bi bi-box-seam"></i></svg></i> - Produit
            </a>
        </li>
        <li>
            <a href="/index.php?page=admin-type" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><i class="bi bi-inbox"></i></svg> - Catégorie
            </a>
        </li>
        <li>
            <a href="/index.php?page=ajout-produit" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><i class="bi bi-plus-circle-fill"></i></svg> Nouveau Produit
            </a>
        </li>
        <li>
            <a href="/index.php?page=ajout-type" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><i class="bi bi-plus-circle-fill"></i></use></svg> nouvelle Catégorie
            </a>
        </li>
    </ul>
    <hr>
</div>