{% extends "base.html.twig" %} {% block title %} {{ parent() }} A propos de SetupLvlUp {% endblock %} {% block contenu %}
<main class="container-fluid bg-light">
    <div class="row pt-3">
        <h1 class="text-center mb-5">À PROPOS DE SETUP LEVEL UP</h1>
        <div class="container bg-light pt-2 pb-3">
            <br class="row">
            <p>Projet de BTS SIO
                </br>
                <a href="https://github.com/Setup-Lvl-Up/Shop-setupLvlUp">GitHub du projet</a>
                </br>
                <a href="">Documentation technique</a>
            </p>
        </div>
    </div>

</main>
{% endblock %}